body {
    font-family: Arial;
    background: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #45a049;
}

.card {
    background: white;
    width: 360px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
